/*
QAGS Web. Copyright (c) Robin Phillips
QAGS Second Edition is copyright (c) Steve Johnson and Leighton Connor
*/

html {
	font-family: sans-serif;
	color: black;
}

input {
	width: 100ex;
	max-width: 90%;
}

textarea {
	width: 100ex;
	height: 5em;
	max-width: 90%;
}

table, td, th {
	border: thin solid gray;
	max-width: 90%;
}

tr {
	max-width: 90%;
}

td, th {
	padding: 0 1ex;
	max-width: 90%;
}

td.check {
	text-align: center;
}

a.add {
	color: black;
	text-decoration-style: dotted;
}

div {
	vertical-align:top;
}

div.box {
	max-width: 90%;
	display: inline-block;
	border: thin solid gray;
	margin: 10px 1px;
	background: #E9E9E9;
	padding: 10px;
}

div.character {
	width: 320px;
}

div.word {
	border: thin solid gray;
	margin-top: 5px;
	padding: 3px;
}

@media (min-width: 800px) {
	div.innerhalf {
		width: 45%;
	}
	div.innerthird {
		width: 32%;
	}
}

div.innerhalf {
	display: inline-block;
	vertical-align: top;
	margin: 0px 5px;
}

div.innerthird {
	display: inline-block;
	vertical-align: top;
}

p.boxtitle {
	font-weight: bold;
	margin-top: 0px;
}

p.footerlinks {
	line-height: 150%;
	font-size: small;
}

input.mid {
	width: 50ex;
	max-width: 90%;
}

input.small {
	width: 6ex;
	max-width: 90%;
}

input[type="submit"], input[type="checkbox"], input[type="radio"] {
	width: auto;
}

/* Links that are only visible to the GM */
.gmonlylink {
	color: darkgreen;
}

/* Notes etc that are only visible to the GM */
.gmonlyblock {
	border: thin solid darkgreen;
	background: palegreen;
	color: black;
	padding: 5px;
}

.warning {
	font-weight: bold;
	color: chocolate;
}

.bad {
	font-weight: bold;
	color: red;
}

.good {
	font-weight: bold;
	color: green;
}

.sml {
	font-size: small;
}

.alternate:nth-of-type(odd) {
}

.alternate:nth-of-type(even) {
	background: #E9E9E9;
}

.donotwrap {
	white-space:nowrap;
}
